In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
url = "https://storage.googleapis.com/py_ds_basic/kaggle_titanic_test.csv"
titanic_test = pd.read_csv(url)
# print(titanic_test.isnull().sum())
age_median = np.nanmedian(titanic_test.Age)
new_Age = np.where(titanic_test.Age.isnull(), age_median, titanic_test.Age)
titanic_test.Age = new_Age
# print(titanic_test.describe())
# print(titanic_test.isnull())
# plt.hist(titanic_test.Age)
# plt.show()
# print(titanic_test.Embarked.value_counts())
new_Embarked = np.where(titanic_test.Embarked.isnull(), "S", titanic_test.Embarked)
titanic_test.Embarked = new_Embarked
# print(titanic_test.Embarked.isnull().sum())
# print(titanic_test.describe())
label_encoder =LabelEncoder()
encoded_Sex = label_encoder.fit_transform(titanic_test.Sex)
titanic_test.Sex = encoded_Sex
encoded_Embarked = label_encoder.fit_transform(titanic_test.Embarked)
titanic_test.Embarked = encoded_Embarked
print(titanic_test.describe())

       PassengerId      Pclass         Sex         Age       SibSp  \
count   418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550    0.636364   29.599282    0.447368
std     120.810458    0.841838    0.481622   12.703770    0.896760
min     892.000000    1.000000    0.000000    0.170000    0.000000
25%     996.250000    1.000000    0.000000   23.000000    0.000000
50%    1100.500000    3.000000    1.000000   27.000000    0.000000
75%    1204.750000    3.000000    1.000000   35.750000    1.000000
max    1309.000000    3.000000    1.000000   76.000000    8.000000

            Parch        Fare    Embarked
count  418.000000  417.000000  418.000000
mean     0.392344   35.627188    1.401914
std      0.981429   55.907576    0.854496
min      0.000000    0.000000    0.000000
25%      0.000000    7.895800    1.000000
50%      0.000000   14.454200    2.000000
75%      0.000000   31.500000    2.000000
max      9.000000  512.329200    2.000000